---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { siteConfig } from "@site-config";
import { Image } from 'astro:assets';

const education = [
  {
    title: "Master's Degree in Informatic Security",
    institution: 'Universidad Internacional de La Rioja',
    period: '2020 - 2022',
    cp: 'PL. 13012554',
  },
  {
    title: "Master's Degree in Data Science",
    institution: 'Universidad Tecnológica en Línea',
    period: '2020 - 2021',
    cp: 'PL. 12812495',
  },
  {
    title: "Bachelor's Degree in Computing Science Engineer",
    institution: 'Benemérita Universidad Autónoma de Puebla',
    period: '2009 - 2014',
    cp: 'PL. 11839022',
  },
];

const experience = [
  {
    title: 'Senior Engineer',
    company: 'Distrito MKT',
    period: '2021',
    details: 'Led innovative technological projects for high-profile clients such as Nike, Farmacias Guadalajara, and Unilever. Spearheaded integrated marketing solutions, driving significant improvements in project efficiency and client satisfaction through advanced technology implementations.',
  },
  {
    title: 'Senior Engineer',
    company: 'Autoproyecto',
    period: '2019',
    details: 'Directed the maintenance and development of the leading Spanish-speaking automotive site in the United States. Engineered content and functionality using PHP and Python, while integrating advertising services for major media outlets like CNN en Español, NBC, and Telemundo. Successfully enhanced site performance and user engagement.',
  },
  {
    title: 'Head of Information Technology',
    company: 'Universidad Tecnológica de Huejotzingo',
    period: '2018 - 2019',
    details: 'Responsible for directing and resolving problems with the University\'s communications and computer equipment. Some of the achievements were the initiation of rewriting the main university system with modern technologies.',
  },
  {
    title: 'Head of Information Technology',
    company: 'H. Ayuntamiento de Huejotzingo',
    period: '2014 - 2018',
    details: 'Responsible for the maintenance of the IT equipment of more than 200 employees. Also, developed applications for internal use to automate the organization\'s processes.',
  },
];

const projects = [
  {
    title: 'CRM Distrito MKT',
    description: 'A comprehensive CRM system developed for Distrito MKT, enhancing project management, quotation handling, and administrative processes.',
    image: '/assets/img/projects/crm-distritomkt-com.png',
    link: 'https://crm.distritomkt.com/',
  },
  {
    title: 'Intruo',
    description: 'Open source tool for discovering and reporting public information and vulnerabilities of online websites.',
    image: '/assets/img/projects/intruo.png',
    link: 'https://github.com/rsalas6/intruo',
  },
  {
    title: 'Autoproyecto',
    description: 'The largest Spanish-language site in the United States, where I had the opportunity to make it the most optimized and fastest site among the competition.',
    image: '/assets/img/projects/autoproyecto.png',
    link: 'https://autoproyecto.com/'
  },
  {
    title: 'Las llaves escondidas',
    description: 'Project for Colgate and Farmacias Guadalajara in a contest to register purchases and win multiple prizes and a car.',
    image: '/assets/img/projects/llaves-escondidas.png',
    link: 'https://cdn.funboxing.mx/cv/lasllavesescondidas.com.pdf',
  },
];


const skills = [
    {
      "label": "Languages",
      "items": ["Python", "JavaScript", "PHP", "SQL", "Bash", "Golang"]
    },
    {
      "label": "Frontend Frameworks",
      "items": ["HTML/CSS", "Vue.js (2 & 3)", "Nuxt", "Astro", "Electron"]
    },
    {
      "label": "Backend Frameworks",
      "items": ["Flask", "Express", "WordPress"]
    },
    {
      "label": "Tools",
      "items": ["Git, Github & Gitlab", "Linux (Ubuntu)", "Docker", "Cloudflare", "AWS (EC2, S3)", "Digital Ocean"]
    },
    {
      "label": "Interests",
      "items": ["Cybersecurity", "Data Science", "Computer Vision", "API Design"]
    }
];
---

<Layout title="Resume of Roberto Salas" description="Explore the professional background, skills, and experiences of Roberto Salas.">
  <Container>
    <div class="flex w-full flex-col gap-y-10 animate">
      <section class="flex flex-col items-center gap-y-7">
          <div class="flex flex-col items-center gap-y-4">
              <h1 class="text-3xl font-bold">Roberto Salas Hernández</h1>
              <div class="flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md">
                  <span class="relative flex items-center justify-center"> <span class="absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75"></span> <span class="relative inline-flex h-2 w-2 rounded-full bg-green-400"></span> </span> 
                  <p class="font-medium">Software Enginner</p>
              </div>
              <div class="flex flex-wrap justify-center gap-x-7 gap-y-3">
                  <a href="mailto:hi@beto.page" target="_blank" class="flex flex-row items-center justify-center gap-x-2 hover:opacity-75 transition-all">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5">
                      <path fill="none" stroke="currentColor" stroke-linejoin="round" d="M3 17.5V6.5C3 5.94772 3.44772 5.5 4 5.5H12H20C20.5523 5.5 21 5.94772 21 6.5V17.5C21 18.0523 20.5523 18.5 20 18.5H4C3.44772 18.5 3 18.0523 3 17.5Z"/>
                      <path fill="none" stroke="currentColor" stroke-linejoin="round" d="M3 6L12 12L21 6"/>
                    </svg>
                    <p>hi@beto.page</p>
                  </a>
                  <div class="flex flex-row items-center justify-center gap-x-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5">
                          <path fill="currentColor" d="M12.003 11.73q.668 0 1.14-.475q.472-.475.472-1.143t-.475-1.14q-.476-.472-1.143-.472t-1.14.476q-.472.475-.472 1.143t.475 1.14q.476.472 1.143.472M12 19.677q2.82-2.454 4.458-4.991q1.638-2.538 1.638-4.39q0-2.744-1.737-4.53T12 3.981q-2.621 0-4.359 1.785t-1.737 4.53q0 1.852 1.638 4.39q1.639 2.537 4.458 4.99m0 1.343q-3.525-3.117-5.31-5.814q-1.786-2.697-1.786-4.909q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 2.212-1.785 4.909q-1.786 2.697-5.311 5.814m0-10.904"></path>
                      </svg>
                      <p>Puebla, México</p>
                  </div>
                  <a href="https://linkedin.com/in/rsalas6/" target="_blank" class="flex flex-row items-center justify-center gap-x-2 hover:opacity-75 transition-all">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="h-5 w-5 text-foreground/75">
                          <path fill="currentColor" d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"></path>
                      </svg>
                      <p>Linkedin</p>
                  </a>
                  <a href="/assets/docs/cv-roberto-salas.pdf" target="_blank" class="flex flex-row items-center justify-center gap-x-2 hover:opacity-75 transition-all">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-foreground/75">
                        <path d="M3 15C3 17.8284 3 19.2426 3.87868 20.1213C4.75736 21 6.17157 21 9 21H15C17.8284 21 19.2426 21 20.1213 20.1213C21 19.2426 21 17.8284 21 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 3V16M12 16L16 11.625M12 16L8 11.625" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p>Download resume</p>
                  </a>
              </div>
          </div>
      </section>

      <section class="flex flex-col gap-y-5 md:flex-row md:gap-y-0">
          <div class="text-xl font-semibold md:w-1/3">
              <h2>About</h2>
          </div>
          <div class="flex flex-col gap-y-3 md:w-2/3">
              <p class="text-muted-foreground">
                Experienced Full Stack Engineer with over ten years of extensive experience in web application development across diverse technologies. Known for automating processes to drive efficiency and productivity. Demonstrated success in executing complex projects and delivering high-quality solutions. Ready to contribute effectively to a forward-thinking team with an innovative mindset and technical expertise.
              </p>
          </div>
      </section>

      <section class="flex flex-col gap-y-5 md:flex-row md:gap-y-0">
        <div class="text-xl font-semibold md:w-1/3">
          <h2>Experience</h2>
        </div>
        <div class="flex flex-col gap-y-3 md:w-2/3 dark:bg-gray-900 dark:text-gray-100 bg-gray-50 text-gray-900">
          {experience.map((exp) => (
            <div class="relative rounded-2xl border dark:border-gray-700 border-gray-300 dark:bg-gray-800 bg-gray-100 px-5 py-3">
              <div class="flex flex-col gap-y-2">
                <div class="flex flex-col gap-y-1">
                  <small class="text-gray-500 dark:text-gray-400">{exp.period}</small>
                  <h1 class="text-lg font-medium">{exp.company}</h1>
                  <h2 class="text-gray-500 dark:text-gray-200">{exp.title}</h2>
                  <p class="text-gray-500 dark:text-gray-400">{exp.details}</p>
                </div>
              </div>
            </div>
          ))}
        </div>
      </section>

      <section class="flex flex-col gap-y-5 md:flex-row md:gap-y-0">
        <div class="text-xl font-semibold md:w-1/3">
          <h2>Education</h2>
        </div>
        <div class="flex flex-col gap-y-3 md:w-2/3 dark:bg-gray-900 dark:text-gray-100 bg-gray-50 text-gray-900">
          {education.map((edu) => (
            <div class="relative rounded-2xl border dark:border-gray-700 border-gray-300 dark:bg-gray-800 bg-gray-100 px-5 py-3">
              <div class="flex flex-col gap-y-2">
                <div class="flex flex-col gap-y-1">
                  <small class="text-gray-500 dark:text-gray-400">{edu.period}</small>
                  <h1 class="text-lg font-medium">{edu.title}</h1>
                  <h2 class="text-gray-500 dark:text-gray-400">{edu.institution}</h2>
                  <h2 class="text-gray-500 dark:text-gray-400">{edu.cp}</h2>
                </div>
              </div>
            </div>
          ))}
        </div>
      </section>

      <section class="flex flex-col gap-y-5 md:flex-row md:gap-y-0">
        <div class="text-xl font-semibold md:w-1/3">
          <h2>Projects</h2>
        </div>
        <div class="flex flex-col gap-y-3 md:w-2/3 dark:bg-gray-900 dark:text-gray-100 bg-gray-50 text-gray-900">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
            {projects.map((project) => (
              <a href={project.link} target="_blank" class="w-full flex flex-col gap-y-3 rounded-2xl border dark:border-gray-700 border-gray-300 dark:bg-gray-800 bg-gray-100 transition-all hover:border-foreground/25 hover:shadow-sm">
                <Image src={project.image} alt={project.title} class="h-48 w-full rounded-2xl rounded-bl-none rounded-br-none object-cover" loading="eager" width="1024" height="1024" decoding="async" />
                <div class="flex flex-col gap-y-2 px-5 py-4">
                  <h1 class="text-lg font-medium">{project.title}</h1>
                  <h2 class="text-gray-500 dark:text-gray-400">{project.description}</h2>
                </div>
              </a>
            ))}
          </div>
        </div>
      </section>

      <section class="flex flex-col gap-y-5 md:flex-row md:gap-y-0">
        <div class="text-xl font-semibold md:w-1/3">
          <h2>Skills</h2>
        </div>
        <div class="flex flex-col gap-y-5 dark:text-gray-100 text-gray-900 md:w-2/3">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {skills.map((skill) => (
              <div class="space-y-4">
                <h2 class="font-medium">{skill.label}</h2>
                <div class="flex gap-2 flex-wrap">
                  {skill.items.map((value) => (
                    <span class="flex flex-col gap-y-3 rounded-2xl border dark:border-gray-700 border-gray-300 dark:bg-gray-800 bg-gray-100 px-3 py-1">
                      {value}
                    </span>
                  ))}
                </div>
              </div>
            ))}
          </div>
        </div>
      </section>
      
      
  </div>
  </Container>
</Layout>


